body,
html {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 100px;
    box-sizing: border-box;
    transition: .5s;
    z-index: 1;
}

.nav a {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2px;
    font-size: 24px;
    overflow: hidden;
    transition: .2s;
    margin: 0 10px;
}

.about-section {
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url("public/about.png");

}

.overlay {
    position: absolute;
    color: lab(100% 0.01 0);
    opacity: 100%;
    font-family: 'Bebas Neue', sans-serif;
    top: 44px;
    left: 82px;
    width: auto;
    height: 100%;
    font-size: 26px;
    mix-blend-mode: hard-light;
}

.overlay p {
    font-family: 'Parisienne', cursive;
    line-height: 37%;
}