body,
html {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.nav {
    border: 0.5px solid #9d9c9c5d;
    position: fixed;
    top: 0;
    left: 32%;
    width: 35%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    transition: .5s;
    z-index: 1;
    background-color: #ffffff1c;
    border-radius: 50px;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 29px;

}

.nav a {
    font-family: 'Montserrat', sans-serif;
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2px;
    font-size: 14px;
    overflow: hidden;
    transition: .2s;
    margin: 0 10px;
    margin-top: 0px;
    margin-right: 10px;
    margin-bottom: 0px;
    margin-left: 10px;
    border-radius: 50px;
    padding: 16px;
}

.nav a:hover {
    background-color: #ffffff1c;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.about-section {
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)), url("public/about.png");

}

.overlay {
    position: absolute;
    color: lab(100% 0.01 0);
    opacity: 100%;
    font-family: 'Bebas Neue', sans-serif;
    top: 44px;
    left: 82px;
    width: auto;
    height: 100%;
    font-size: 26px;
    mix-blend-mode: hard-light;
}

.overlay p {
    font-family: 'Parisienne', cursive;
    line-height: 37%;
}